body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: 0;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

.container{
    background-color: hsl(0, 0%, 0%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    max-height: 640px;
}

.cal{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 80px;
    height: 80px;
    border: 0;
    background-color: hsl(0, 0%, 5%);
    border-radius: 50%;
    color: white;
    font-size: 3rem;
}

button:hover{
    background-color: hsl(0, 0%, 20%);
}

button:active{
    background-color: hsl(0, 0%, 40%);
}

.operator{
    background-color: hsl(39, 100%, 50%);
}

.operator:hover{
    background-color: hsl(39, 100%, 60%);
}

.operator:active{
    background-color: hsl(39, 100%, 20%);
}